{{- /*gotype: mlp/catalog/web/view_system.ViewSystemModel*/ -}}
{{define "content"}}



<nav aria-label="breadcrumb">
  <ol class="breadcrumb  rounded-bottom" style="border-top-left-radius: 0; border-top-right-radius: 0;">
    <li class="breadcrumb-item"><a href="{{.Site.Url.ListProjects}}">Projects</a></li>
    <li class="breadcrumb-item"><a href="{{.Site.Url.ViewProject .Project.Name}}" class="project-link">{{ .Project.Caption }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ .System.Caption }}</li>
  </ol>
</nav>


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h2>
            {{.System.Kind}}: {{ .System.Caption }}
        </h2>
    </div>

    <div class="container" id="ds-{{.Site.Fmt.Uid .System.Uid}}">
        <div class="row rounded border px-4 py-3" >
            <div class="col">

                <div>
                    {{if .System.LocationId }}
                        <strong>Location: </strong><span class="location-id">{{ .System.LocationId }}</span><br/>
                    {{end}}


                    <strong>URI: </strong>
                    <code class="location-uri">
                        {{if .System.LocationUri}}{{.System.LocationUri}}{{else}}N/A{{end}}
                    </code><br/>

                    {{if .System.VersionNum}}
                        <strong>Versions: </strong>{{ .System.VersionNum }}<br/>
                    {{end}}


                </div>
            </div>
        </div>

        {{ if .UsedBy}}
            <div class="row pt-5">
                <div class="col">
                    <h3>Used By</h3>


                    <table class="table table-sm table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Kind</th>

                            <th>Last Updated</th>
                        </tr>
                        </thead>

                        <tbody>

                        {{range .UsedBy}}
                            <tr>
                                <td><a href="{{.Href}}">{{.Title}}</a></td>
                                <td>{{.Entity}}</td>

                                <td>{{$.Site.Fmt.Timestamp .Timestamp}}</td>
                            </tr>
                        {{end}}


                        </tbody>
                    </table>
                </div>
            </div>
        {{end }}

        {{ if .Description}}

            <div class="row pt-5">
                <div class="col">
                    <h3>Description</h3>

                    <article class="pt-2 description">
                        {{ .Description }}
                    </article>

                </div>
            </div>


        {{end}}

        <div class="row pt-5">
            <div class="col">
                <h3>Relations</h3>
                {{  .Lineage }}
            </div>
        </div>







    </div>








{{end}}


