{{- /*gotype: mlp/catalog/web.Site*/ -}}
{{- define "layout" -}}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--No status bar on iOS-->
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{.Url.Static "bootstrap.min.css"}}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{.Url.Static "custom.css"}}" crossorigin="anonymous">


    <title>ML Catalog</title>

    <style type="text/css">

        .treeview span.indent {
            margin-left: 10px;
            margin-right: 10px;
        }

        /* fix bootstrap conflict with Pygments */
        .codehilite pre { white-space: pre;
            border-radius: inherit;
            display: inherit;
            background-color: inherit;
            border: inherit;
            color: inherit;
        }

        /* fix conflict with other sytlesheets */
        .codehilite .m { margin: inherit; }

    </style>
</head>
<body>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">ML Catalog</a>

</nav>

<div class="container" id="app">
    <div class="row">


        <main role="main" class="col">
            {{ template "content" . }}

            <footer>
                <span class="float-right text-muted">
                    <a href="https://github.com/bitgn/ml-pipelines">ML Pipelines</a>
                    {{ if .AppVersion}}: {{.AppVersion}}{{end}}
                </span>
            </footer>
        </main>
    </div>
</div>
</body>
</html>
{{end}}