<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--No status bar on iOS-->
    <meta name="apple-mobile-web-app-capable" content="yes">




      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" {% static "explore/bootstrap.min.css" %}" crossorigin="anonymous">


        <link rel="stylesheet" href="{% static "explore/custom.css" %}" crossorigin="anonymous">



    <title>Machine Learning Pipelines Catalog</title>

    <style type="text/css">

.treeview span.indent {
margin-left: 10px;
margin-right: 10px;
}

        /* fix bootstrap conflict with Pygments */
.codehilite pre { white-space: pre;
                  border-radius: inherit;
                  display: inherit;
                  background-color: inherit;
                  border: inherit;
                  color: inherit;
                }

/* fix conflict with other sytlesheets */
.codehilite .m { margin: inherit; }

    </style>
  </head>
  <body>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">ML Pipelines Catalog</a>

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
    </li>
  </ul>
</nav>

<div class="container-fluid" id="app">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">


        <ul class="nav flex-column">
            {% comment %}
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Inbox <span class="badge badge-pill badge-primary">2</span>
            </a>
          </li>
          {% endcomment %}
          <li class="nav-item">
            <a class="nav-link {% if MENU_ACTIVE == "projects" %}active{% endif %}" href="{% url "explore:projects" %}">
              <span data-feather="file"></span>
              Projects <span class="badge badge-pill badge-secondary align-middle">{{ PROJECT_COUNT }}</span>
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link {% if MENU_ACTIVE == "datasets" %}active{% endif %}" href="{% url "explore:explore_datasets" %}">
              <span data-feather="users"></span>
              Datasets  <span class="badge badge-pill badge-secondary align-middle">{{ DATASET_COUNT }}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled text-muted" href="#">
              <span data-feather="users"></span>
              Pipelines <span class="badge badge-pill badge-secondary align-middle">{{ PIPELINE_COUNT }}</span>
            </a>
          </li>
                  <li class="nav-item">
            <a class="nav-link disabled text-muted" href="#">
              <span data-feather="users"></span>
              Models <span class="badge badge-pill badge-secondary align-middle">{{ MODEL_COUNT }}</span>
            </a>
          </li>
                  <li class="nav-item">
            <a class="nav-link disabled text-muted" href="#">
              <span data-feather="users"></span>
              Dashboards <span class="badge badge-pill badge-secondary align-middle">{{ DASHBOARD_COUNT }}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled text-muted" href="#">
              <span data-feather="users"></span>
              Experts <span class="badge badge-pill badge-secondary align-middle">{{ EXPERT_COUNT }}</span>
            </a>
          </li>
            {% comment %}
          <li class="nav-item ">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Settings
            </a>
          </li>
          {% endcomment %}
        </ul>
{% comment %}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Perspectives</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Tags
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="review.html">
              <span data-feather="file-text"></span>
              Review
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Recent
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Favorites
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Storage
            </a>
          </li>
        </ul>
        {% endcomment %}
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    {% block content %}{% endblock %}






    <footer>
        <span class="float-right text-muted">
            <a href="https://github.com/bitgn/ml-pipelines">ML Pipelines</a>
            {% if APP_VERSION %}: {{ APP_VERSION }}{% endif %}
        </span>
    </footer>
    </main>


  </div>

</div>








  </body>
</html>