{% extends "explore/base.html" %}


{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Projects</h1>

    </div>


{% if projects %}

    <table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Datasets</th>
            <th>Jobs</th>
            <th>Storage</th>
        </tr>
    </thead>
    <tbody>

    {% for p in projects %}
        <tr class="project-info" id="prj-{{ p.id }}">
            <td>
                <a href="{% url 'explore:view_project' p.id %}" class="project-name project-link">{{ p.name }}</a>
            </td>
            <td class="dataset-count">{{ p.dataset_count }}</td>
            <td class="job-count">{{ p.job_count }}</td>

            <td>{{ p.zip_bytes|filesizeformat }}</td>
        </tr>
    {%  empty %}

        <tr class="table-info" id="no-projects-found">
            <td colspan="3">No projects found</td>
        </tr>

    {% endfor %}

    </tbody>
    </table>


{% else %}


<div class="alert alert-info" role="alert" id="empty-catalog-message">
  <h4 class="alert-heading">Catalog is empty</h4>
  <p>This looks like a fresh install. Catalog currently contains no projects or datasets. You can use client tools to add dataset information.</p>
</div>
{% endif %}






{% endblock %}
