{{- /*gotype: mlp/catalog/web/list_projects.Model*/ -}}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Projects</h1>

</div>



{{if .Projects}}
    <table class="table table-sm table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Datasets</th>
            <th>Jobs</th>
            <th>Storage</th>
        </tr>
        </thead>
        <tbody>

        {{range .Projects}}


        <tr class="project-info" id="prj-{{ .Id }}">
            <td>
                <a href="{% url 'explore:view_project' p.id %}" class="project-name project-link">{{ .Name }}</a>
            </td>
            <td class="dataset-count">{{ .DatasetCount }}</td>
            <td class="job-count">{{ .JobCount }}</td>

            <td>{{ .ZipBytes }}</td>
        </tr>
        {{end}}
        </tbody>
    </table>

{{else}}
    <div class="alert alert-info" role="alert" id="empty-catalog-message">
        <h4 class="alert-heading">Catalog is empty</h4>
        <p>This looks like a fresh install. Catalog currently contains no projects or datasets. You can use client tools to add dataset information.</p>
    </div>
{{end}}